<!DOCTYPE html>
<html>
    <head>
        <title>Images Display</title>
       
        <div id="head1"><hr><h2>Ibm object storage</h2><hr></div>

        <link rel="stylesheet" href="https://yogi3171.s3.jp-tok.cloud-object-storage.appdomain.cloud/ibm.css">
    </head>
    <body>
        
        <div id="Assignment-3">
           <div><img src="https://yogi3171.s3.jp-tok.cloud-object-storage.appdomain.cloud/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg" width="250px" height="200px"></div><br>
           <div>  <img src="https://yogi3171.s3.jp-tok.cloud-object-storage.appdomain.cloud/im2.png" width="250px" height="200px"></div><br><br>
           <div><img src="https://yogi3171.s3.jp-tok.cloud-object-storage.appdomain.cloud/img%202.png" width="250px" height="200px"></div>
        </div>
<div id="Bucket_Assignment"> <div> <img src="https://yogi3171.s3.jp-tok.cloud-object-storage.appdomain.cloud/tree-736885__480.jpg" width="250px" height="200px"></div><br>
           <div> <img src="https://yogi3171.s3.jp-tok.cloud-object-storage.appdomain.cloud/img%203.png" width="250px" height="200px"></div>
           
        </div>
         
         <script>
  window.watsonAssistantChatOptions = {
    integrationID: "2e2380fb-a4a7-477c-b357-fc1fe9218d03", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "73e3df0d-9ae5-4ea0-b735-d369578692e7", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
    </body>
</html>