*,
*::before,
*::after {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

#register {
  text-align: center;
  max-width: 500px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flexbox;
  text-align: center;
  line-height: 50px;
  margin-bottom: 2rem;
}

.login{
  margin-right: 100px;
}

.select {
  color: rgb(106, 99, 99);
}

.selected {
  color: black;
}

.ratiobtn {
  font-family: sans-serif;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  /* padding-left: 2%; */
  padding-right: 8%;
}

[type="radio"] {
  vertical-align: middle;
  margin-bottom: 6px;
  width: 1.3rem;
  height: 1.3rem;  
  margin-left: 80px;
  margin-right: 5px;
}

[type="text"],[type="number"],[type="email"],[name="qualification"],[name="pass"],[name="cnfpass"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 .5rem;
}

[type="text"],[type="number"],[type="email"],[name="qualification"],[name="pass"],[name="cnfpass"] {
  width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="number"]:active,
[type="number"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="email"]:active,
[type="email"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[name="qualification"]:active,
[name="qualification"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="password"]:active,
[type="password"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

h1 {
  color: #222;
}
