#bars{
    font-size: 30px;
    color: rgb(22, 45, 109);
    margin-top: 20px;
}
.head{
    margin-top: 200px;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}